html,body{
  height: 100%;
  margin: 0;
}
.main{
	background: url(/images/thinking_face.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	height:100%;
}
.main::before{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
.box{
  position: absolute;
}
